body {
/*	background-color: #88d276;
	 #76d05f #88d276 */
	background-image: url("css-img/bg1-t4-2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	/* une couleur transparente -au-cas-ou- */
	background-color: rgba(255,0,0,0.1);
}



											/* nav.menu-nav */
nav.menu-nav ul li.btn{
	list-style-position: center;
	display: inline-block;
	list-style-type: none;
	margin-right: 15px;
	margin-bottom: 21px;
}

nav.menu-nav ul li.btn a{
	color: white;
	background-color: darkgreen;
	text-decoration: none;
	padding: 10px;
}

nav.menu-nav ul li.btn:hover a{
	color: darkgreen;
	background-color: navajowhite;
	transition: 0.5s all;
}



											/* div#content */

section#credo div#le-credo div.credotext{
	font-size: 22px;
	margin: 15px;
	text-align: justify;
}

section#credo div#le-credo div.ref{
	display: inline-block;
	width: 40%;
	margin: 15px;
	vertical-align: text-top;	
}

section#credo div.credointro p.explication{
	font-size: 50;
}

section#credo div.credointro:hover{
	background-color: deeppink;
	transition: 0.2s;
	transition-delay: 0.1s;
}



											/* sizes */
@media all and (max-device-width: 750px) {
	body section#credo div.credointro p.title{
		font-size: 20px;
	}

	body section#credo div#le-credo div.credotext{
		font-size: 15px;
	}

	body section#credo div#le-credo div.ref{
		font-size: 12px;
	}
}

@media all and (max-device-width: 535px) {
	body nav.menu-nav ul li.btn a{
		margin: 10px;
		margin-bottom: 15px;
		vertical-align: center;
		font-size: 20px;
	}
	body section#credo div.credointro p.explication{
		font-size: 15px;
	}
}

@media all and (max-device-width: 310px) {
	body nav.menu-nav ul li.btn a{
		margin: 0px;
		margin-bottom: 25px;
		vertical-align: center;
		font-size: 25px;
	}
	body section#credo div.credointro p.explication{
		font-size: 10px;
	}
}

@media all and (max-device-width: 210px){
	body nav.menu-nav ul li.btn a{
		font-size: 30px;
	}
}